body {
  background-color: #000000; /* Black background */
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 20px;
}

.grid {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: stretch;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: stretch;
  align-content: stretch;
}

.photo {
  flex-basis: 100%; /* Full width for mobile */
  padding: 10px;
  box-sizing: border-box;
  align-items: stretch;
  align-content: stretch;
  cursor: pointer;
}

.photo img,
.photo video {
  display: block;
  max-width: 100%;
  height: auto;
  border: 3px solid #FFFFFF; /* White border */
  box-sizing: border-box;
  padding: 10px; /* Added spacing between the border and the photo */
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: transparent;
}

.modal-content img {
  width: 100%;
  height: auto;
  border: 3px solid #FFFFFF; /* White border */
  box-sizing: border-box;
  padding: 10px; /* Added spacing between the border and the photo */
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}
@media (min-width: 768px) {
  /* Styles for tablets and larger screens */
  .photo {
    flex-basis: 22%; /* Adjust the width as needed */
  }
  @media only screen and (max-width: 375px) {
    /* Styles for iPhone */
    .photo {
      flex-basis: 50%; /* Full width for mobile */
    }
  }
  
  @media only screen and (max-width: 360px) {
    /* Styles for Samsung phones */
    .photo {
      flex-basis: 50%; /* Full width for mobile */
    }
  }
}

