body {
    background-color: #000;
  }
  
  .main {
    position: absolute;
    top: calc(45% - 150px);
    left: calc(47% - 150px);
    width: 500px;
    height: 500px;
    border-radius: 50%;
    box-shadow:
      inset 0 0 50px #fff,
      inset 20px 0 80px #f0f,
      inset -20px 0 80px #0ff,
      inset 20px 0 300px #f0f,
      inset -20px 0 300px #0ff,
      0 0 50px #fff,
      -10px 0 80px #f0f,
      10px 0 80px #0ff;
    animation: gradientTransition 10s linear infinite;
  }
  
  @keyframes gradientTransition {
    0% {
      box-shadow:
        inset 0 0 50px #fff,
        inset 20px 0 80px #f0f,
        inset -20px 0 80px #0ff,
        inset 20px 0 300px #f0f,
        inset -20px 0 300px #0ff,
        0 0 50px #fff,
        -10px 0 80px #f0f,
        10px 0 80px #0ff;
    }
    25% {
      box-shadow:
        inset 0 0 50px #f0f,
        inset 20px 0 80px #0ff,
        inset -20px 0 80px #f0f,
        inset 20px 0 300px #0ff,
        inset -20px 0 300px #f0f,
        0 0 50px #f0f,
        -10px 0 80px #0ff,
        10px 0 80px #f0f;
    }
    50% {
      box-shadow:
        inset 0 0 50px #0ff,
        inset 20px 0 80px #f0f,
        inset -20px 0 80px #0ff,
        inset 20px 0 300px #f0f,
        inset -20px 0 300px #0ff,
        0 0 50px #0ff,
        -10px 0 80px #f0f,
        10px 0 80px #0ff;
    }
    75% {
      box-shadow:
        inset 0 0 50px #f0f,
        inset 20px 0 80px #0ff,
        inset -20px 0 80px #f0f,
        inset 20px 0 300px #0ff,
        inset -20px 0 300px #f0f,
        0 0 50px #f0f,
        -10px 0 80px #0ff,
        10px 0 80px #f0f;
    }
    100% {
      box-shadow:
        inset 0 0 50px #fff,
        inset 20px 0 80px #f0f,
        inset -20px 0 80px #0ff,
        inset 20px 0 300px #f0f,
        inset -20
      }
    }
  

  .welcome {
    position: fixed;
    top: calc(25% - 150px);
    left: calc(49% - 150px);
    opacity: 1;
    transition: opacity 0.5s ease-in-out;

    /*    text-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 40px #0ff,
      0 0 80px #0ff,
      0 0 90px #0ff,
      0 0 100px #0ff,
      0 0 150px #0ff;
      */

  }

  .transparent {
    opacity: 0;
    pointer-events: none;
    cursor: none;
  }

  .home {
    position: fixed;
    text-decoration: none;
    font-size: 1.5rem;
    top: calc(52% - 150px);
    left: calc(72% - 150px);
    font-family: 'Georama', sans-serif;
    color: rgb(255, 255, 255);
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    
  }

  .portfolio {
    position: fixed;
    text-decoration: none;
    font-size: 1.5rem;
    top: calc(62% - 150px);
    left: calc(74% - 150px);
    font-family: 'Georama', sans-serif;
    color: rgb(255, 255, 255);
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }

  .art {
    position: fixed;
    text-decoration: none;
    font-size: 1.5rem;
    top: calc(72% - 150px);
    left: calc(74% - 150px);
    font-family: 'Georama', sans-serif;
    color: rgb(255, 255, 255);
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }
  
  .contact {
    position: fixed;
    text-decoration: none;
    font-size: 1.5rem;
    top: calc(92% - 150px);
    left: calc(69% - 150px);
    font-family: 'Georama', sans-serif;
    color: rgb(255, 255, 255);
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }

  .music {
    position: fixed;
    text-decoration: none;
    font-size: 1.5rem;
    top: calc(82% - 150px);
    left: calc(73% - 150px);
    font-family: 'Georama', sans-serif;
    color: rgb(255, 255, 255);
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }

  .fade-out {
    opacity: 0;
    pointer-events: none;
    cursor: none;
  }

  /* Media Query for mobile devices */
  @media (max-width: 375px) and (min-width: 768px) {
    .home,
    .portfolio,
    .art,
    .contact,
    .music {
      flex-basis: 50%;
    }
  
    /* Revert mobile changes */
    .welcome {
      display: block;
    }
  }

